/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-04-15, 21:45:28
    Author     : Lukasz
*/

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/**/

body{
	/*background-image: url('../images/konfigurator_1a.png');*/
	background-repeat: no-repeat;
	background-position: center top;
	font-family: sans-serif;
	font-weight: normal;
}

.section-outer{
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

.section-outer .section-inner{
	width: 954px;
	margin: 0 auto;
	padding: 0;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.section-top{
	height: 70px;
	background-image: url('../images/gradient-top.gif');
	background-repeat: repeat-x;
}

.section-outer .section-inner.section-top{
	/*background-image: url('../images/konfigurator_1a.png');*/
}

.section-middle{
	min-height: 544px;
	min-height: 583px;
	background-color: #e7e5e5;
	background-image: url('../images/gradient-middle.gif');
	background-repeat: repeat-x;
}

.section-bottom{
	height: 38px;
	background-image: url('../images/gradient-bottom.gif');
	background-repeat: repeat-x;
}

.section-outer .section-inner.section-bottom{
	/*background-image: url('../images/konfigurator_1a.png');*/
	background-position: center bottom;
}

h2{
	color: #666666;
	font-size: 18px;
	margin: 0;
	padding: 0.83em 0;
}

.centerize{
	text-align: center;
}

/* expandable menu*/

ul.expandable-menu{
	list-style-type: none;
	border: 1px solid #dadada;
	padding: 0;
	margin: 0;
	z-index: 1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.expandable-menu li{
	
}

ul.expandable-menu li a{
	display: block;
	font-family: "Verdana";
/*	background-color: red;*/
	background-color: #fefefe;
	padding: 10px 0px 0px 15px;
	padding: 0px 0px 0px 15px;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	width: 210px;
	width: 195px;
	height: 40px;
	text-align: left;
	line-height: 40px;
	background-image: url('../images/small-arrow-down.gif');
	background-repeat: no-repeat;
	background-position: 180px center;
}

ul.expandable-menu li ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-top: 1px solid #DADADA;
}

ul.expandable-menu li ul li{
	
}

ul.expandable-menu li ul li a{
	background-color: #fefefe;
	border-bottom: 1px solid #dadada;
	background-image: none;
}

ul.expandable-menu li ul li a.active, ul.expandable-menu li ul li a:hover{
	background-color: #e68833;
	color: #f0f0f0;
}

/**/

ul.menu2{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
}

ul.menu2.px425{
	width: 425px;
	margin-top: 40px;
}

ul.menu2.px180{
	width: 180px;
	margin-top: 30px;
}

ul.menu2 li{
	
}

ul.menu2 li a{
	
}

ul.menu2 li img{
	float: left;
	cursor: pointer;
	margin-right: 20px;
}


div.step-nav{
	min-height: 260px;
}

div.step-nav .nav{
	margin: 238px 20px 0 20px;
	cursor: pointer;
}

div.step-nav .nav.left{
	float: left;
}

div.step-nav .nav.right{
	float: right;
}

div.selected-items{
	display: block;
	width: 100%;
	float: none;
	height: 300px;
}

div.fronts{
	position: relative;
	/*background-color: green;*/
	
	/* TODO - different sizes of wardrobes*/
	width: 254px;
	height: 270px;
	margin-left: auto;
	margin-right: auto;
}

div.fronts.exterior{
	float: left;
	min-height: 270px;
	margin-left: 100px;
	margin-right: 0px;
}

div.fronts.interior{
	float: right;
	min-height: 270px;
	margin-left: 0px;
	margin-right: 100px;
}

div.fronts img{
	border: 1px solid lightgray;
}

div.fronts.no-image-border img{
	border: none;
}

div.wireframe{
	max-height: 220px;
}

div.wireframe img{
	max-height: 200px;
}

div.standard-selected-item{
	position: relative;
	max-height: 270px;
}

div.standard-selected-item img{
	max-height: 270px;
}

div.standard-selected-item.handles img{
	margin-top: 80px;
}

div.front, div.shelve, div.handle{
	position: absolute;
	background-size: cover;
	background-repeat: repeat;
	/*background-color: #d8d7d7;*/
	border: 1px solid gray;
}

div.front.no-borders, div.shelve.no-borders, div.handle.no-borders{
	border: 1px solid transparent;
}

div.front.selectable, div.handle.selectable{
	cursor: pointer;
	border: 1px solid lightgreen;
}

div.front.selectable:hover, div.handle.selectable:hover{
	border: 1px solid #ff9933;
}

div.front.selected, div.handle.selected{
	border: 1px solid lightgreen;
	background-color: lightgreen;
	opacity: 0.3;
}

.acc-placeholder{
	position: absolute;
	overflow: hidden;
}

.acc-placeholder.ui-state-hover{
	background-color: greenyellow;
	opacity: 0.3;
	background-image: none;
}

.acc-placeholder.ui-state-active{
	background-color: red;
	opacity: 0.3;
	background-image: none;
}

div.color-selector{
	text-align: center;
	margin-top: -68px;
}

div.color-selector span{
	font-size: 13px;
	color: #666;
	display: block;
}

ul.color-menu{
	list-style-type: none;
	display: inline-block;
	padding-left: 12px;
	/*float: left;*/
	/*width: 200px;*/
}

ul.color-menu li{
	float: left;
}

ul.color-menu li a{
	
}

ul.color-menu li span{
	float: left;
	cursor: pointer;
	padding: 12px;
	border: 1px solid #d8d7d7;
	margin-right: 13px; 
}

ul.color-menu li span:hover, ul.color-menu li span.active{
	border: 1px solid #ff9933;
}


ul.selected-items{
	list-style-type: none;
}

ul.selected-items li{
	
}

ul.selected-items li a{
	
}

ul.selected-items li img{
	float: left;
	margin-right: 20px;
	max-height: 200px;
}

ul.selected-items.step3 li img{
	max-height: 270px;
}


div.items-menu-div{
	background-color: #f1f1f1;
	border: 1px solid #b7b7b7;
	width: 796px;
	height: 185px;
	margin: 0 auto;
}

div.items-menu-div img.nav{
	margin: 80px 10px 0 10px;
	cursor: pointer;
}

div.items-menu-div img.nav.left{
	float: left;
}

div.items-menu-div img.nav.right{
	float: right;
}

div.items-menu-div.accessories{
	height: auto;
}

ul.items-menu{
	list-style-type: none;
	overflow: hidden;
/*	overflow: visible;*/
	height: 100%;
	float: left;
	margin: 0;
	width: 664px;
}

div.items-menu-div.accessories ul.items-menu{
	width: 100%;
	float: none;
	overflow: visible;
}

.items-menu li{
	
}

.items-menu li a{
	
}

.items-menu li img{
	float: left;
	margin: 12px;
	max-height: 160px;
	cursor: pointer;
}

.items-menu.accessories li img{
/*	max-width: 100px;*/
	max-height: 160px;
}

.items-menu.handles li img{
	max-width: 160px;
	margin-top: 85px;
}

.items-menu li span.texture-block{
	width: 49px;
	height: 126px;
	height: 158px;
	float: left;
	margin: 12px;
	cursor: pointer;
	overflow: hidden;
}

.items-menu li span.texture-item{
	display: block;
	width: 47px;
	height: 126px;
	height: 158px;
	height: 120px;
	border: 2px solid #d8d7d7;
/*	float: left;*/
/*	margin: 12px;*/
	cursor: pointer;
	background-repeat: repeat;
	background-size: 100%;
}

.items-menu li span.texture-name{
	color: #666666;
	font-size: 14px;
	display: block;
	text-align: center;
}

.items-menu li span.texture-item:hover, .items-menu li span.texture-item.active{
	border: 2px solid #ff9933;
}

/* flex slider */

.flexslider{
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: inherit;
}

.flex-direction-nav a {
  background: url("../images/bg_direction_nav.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  display: block;
  height: 30px;
  margin: -20px 0 0;
  opacity: 0;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  width: 30px;
}

div.items-menu{
	
}

div.items-menu ul{
	
}

div.items-menu ul li{
	max-height: 177px;
}

div.items-menu ul li img{
	max-height: 177px;
	max-width: 160px;
	margin: 0 auto;
	width: auto;
	height: auto;
	cursor: pointer;
}

.flexslider .slides img{
	width: auto;
}

.items-menu.step3 .flexslider .slides img{
	border: 1px solid lightgray;
}

/* footer */

div.footer{
	text-align: center;
}

div.footer h4{
	margin: 0;
	padding-top: 9px;
	color: #666666;
	display: inline-block;
}

ul.smallicons{
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}

ul.smallicons li{
	
}

span.smallicon, a.smallicon{
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	background-color: #fdfdfd;
	border: 1px solid #d0d0d0;
	float: left;
	cursor: pointer;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0px 0px 2px 1px rgba(212,212,212,1);
	-moz-box-shadow: 0px 0px 2px 1px rgba(212,212,212,1);
	box-shadow: 0px 0px 2px 1px rgba(212,212,212,1);
}

span.smallicon img, a.smallicon img{
	margin-top: 4px;
}

ul.smallicons.left{
	width: 130px;
	float: left;
}

ul.smallicons.right{
	width: 65px;
	float: right;
}

ul.smallicons.left .smallicon{
	float: left;
	margin-left: 5px;
}

ul.smallicons.right .smallicon{
	float: right;
	margin-right: 5px;
}

ul.smallicons.right .smallicon img{
	margin-top: 9px;
}

/*tooltip*/

.ui-tooltip {
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #dad8d8;
	box-shadow: 0 0 5px #dad8d8;
	
	color: #4c4c4d;
	font-size: 12px;
	padding: 7px 14px;
	
	border: 1px solid #dad8d8;
	
	opacity: .7;
	filter:Alpha(Opacity=70);
}

body .ui-tooltip {
	border-width: 2px;
}

.ui-tooltip:after 
{
	content: "";
	position: absolute;
	bottom: -8px;
	left: 7px;
	border-style: solid;
	border-width: 8px 12px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
}

.ui-tooltip:before 
{
	content: "";
	position: absolute;
	top: 31px;
	left: 7px;
	border-style: solid;
	border-width: 8px 12px 0;
	border-color: #DAD8D8 transparent;
	display: block;
	width: 0;
	z-index: 0;
}
