<div class="footer">
	<ul class="smallicons left">
		<li>
			<span class="smallicon">
				<img alt="" src="../images/small-www.gif" >
			</span>
		</li>
		<li>
			<span class="smallicon">
				<img alt="" src="../images/small-pdf.gif" >
			</span>
		</li>
		<li>
			<span class="smallicon">
				<img alt="" src="../images/small-play.gif" >
			</span>
		</li>
		<li>
			<span class="smallicon">
				<img alt="" src="../images/small-info.gif" >
			</span>
		</li>
	</ul>
	
	<h4>Masz pytania? Zachęcamy do kontaktu z najbliższym punktem sprzedaży </h4>
	
	<ul class="smallicons right">
		<li>
			<span class="smallicon">
				<img alt="" src="../images/small-arrow-right.gif" >
			</span>
		</li>
		<li>
			<span class="smallicon">
				<img alt="" src="../images/small-arrow-left.gif" >
			</span>
		</li>
	</ul>
</div>