		<div class="section-outer ">
			<div class="section-inner section-bottom">
				<div class="footer">
					<ul class="smallicons left">
						<li>
							<span class="smallicon">
								<img alt="" src="../images/small-www.gif" >
							</span>
						</li>
						<li>
							<span class="smallicon">
								<img alt="" src="../images/small-pdf.gif" >
							</span>
						</li>
						<li>
							<span class="smallicon">
								<img alt="" src="../images/small-play.gif" >
							</span>
						</li>
						<li>
							<span class="smallicon">
								<img alt="" src="../images/small-info.gif" >
							</span>
						</li>
					</ul>

					<h4>Masz pytania? Zachęcamy do kontaktu z najbliższym punktem sprzedaży </h4>

					<ul class="smallicons right">
						<li>
							<a href="#{{navigation.nextStep}}" class="smallicon">
								<img alt="" src="../images/small-arrow-right.gif" >
							</a>
						</li>
						<li>
							<a href="#{{navigation.prevStep}}" class="smallicon">
								<img alt="" src="../images/small-arrow-left.gif" >
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
