		<div class="section-outer ">
			<div class="section-inner section-top">
				<div style="text-align: center; position: relative;">
					<img alt="" src="../images/kreator-multi1.gif" style="margin-top:18px;" >
					<ul class="expandable-menu js-expandable-menu" style="position: absolute; top:15px; right: 15px;">
						<li>
							<a class="js-main" href="#">Menu rozwijane</a>
							<ul style="display: none;">
								<li>
									<a href="#/step1">Krok 1</a>
								</li>
								<li>
									<a href="#/step2">Krok 2</a>
								</li>
								<li>
									<a href="#/step3">Krok 3</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
