<h2>Twoja konfiguracja. Wybierz fronty długie.</h2>

<div class="step-nav clearfix">
	<a href="#{{prevStep}}">
		<img class="nav left" alt="" src="../images/left-orange1.gif" >
	</a>
	<div class="selected-items">
		<ul class="selected-items step3 clearfix">
			<li><img alt="" src="../images/step2/SZF 200.gif" ></li>
		</ul>
	</div>

	<a href="#{{nextStep}}">
		<img class="nav right" alt="" src="../images/right-orange1.gif" >
	</a>
</div>

<div class="items-menu-div">
	<img class="nav left" alt="" src="../images/left-arrows1.gif" >
	<ul class="items-menu">
		<li><span class="texture-item" style="background-image: url('../images/textures/dab sonoma.jpg')"></span></li>
		<li><span class="texture-item" style="background-image: url('../images/textures/dziki dab.jpg')"></span></li>
		<li><span class="texture-item" style="background-image: url('../images/textures/noce sorrent.jpg')"></span></li>
		<li><span class="texture-item" style="background-image: url('../images/textures/wenge arusha.jpg')"></span></li>
	</ul>
	<img class="nav right" alt="" src="../images/right-arrows1.gif">
</div>