<h2>Twoja konfiguracja. Wybierz układ Twojej szafy.</h2>

<div class="step-nav clearfix">
	<a href="#{{prevStep}}">
		<img class="nav left" alt="" src="../images/left-orange1.gif" >
	</a>
	<div class="selected-items">
		<ul class="selected-items clearfix">
			<li><img alt="" src="../images/step2/{{selectedFile}}" ></li>
		</ul>
		<p style="float: left">Wybierz kolor korpusu</p>
		<ul class="color-menu">
			<li><span style="background-color: white"></span></li>
			<li><span style="background-color: black"></span></li>
		</ul>
	</div>

	<a href="#{{nextStep}}">
		<img class="nav right" alt="" src="../images/right-orange1.gif" >
	</a>
</div>

<div class="items-menu-div clearfix">
	<img class="nav left" alt="" src="../images/left-arrows1.gif" >
	<ul class="items-menu">
		<li ng-repeat="item in items"><img ng-click="selectItem(item)" alt="" src="../images/step2/{{item.file}}" ></li>
	</ul>
	<img class="nav right" alt="" src="../images/right-arrows1.gif">
</div>