				<h2>Wykreuj swoje wnętrze z kolekcją MULTI+<br>Baw się, projektuj lub korzystaj z gotowych rozwiązań</h2>
				<img alt="" src="images/img1.jpg" >
				<ul class="menu2 clearfix">
					<li><img alt="" src="images/kretor-komod.jpg" ></li>
					<li><a href="#/step2"><img alt="" src="images/kreator-szaf.jpg" ></a></li>
					<li><img alt="" src="images/kreator-lozek.jpg" ></li>
				</ul>

				<ul class="menu2 clearfix">
					<li><img alt="" src="images/ico-www.gif" ></li>
					<li><img alt="" src="images/ico-pdf.gif" ></li>
					<li><img alt="" src="images/ico-play.gif" ></li>
				</ul>
