<div ng-include="headerTemplate"></div>
		<div class="section-outer ">
			<div class="section-inner section-middle centerize">

				<h2>Wybierz kolor półki.</h2>

				<div class="step-nav clearfix">
					<a href="#{{navigation.prevStep}}">
						<img class="nav left" alt="" src="../images/left-orange1.gif" >
					</a>
					<a href="#{{navigation.nextStep}}">
						<img class="nav right" alt="" src="../images/right-orange1.gif" >
					</a>
					<div class="selected-items">
						<div class="standard-selected-item">
							<img alt="" src="../images/shelves/{{selectedItem.file}}" >
						</div>
					</div>
				</div>

				<div class="items-menu-div">
				<!--	<img class="nav left" alt="" src="../images/left-arrows1.gif" >
					<ul class="items-menu">
						<li ng-repeat="item in items">
							<img ng-click="selectItem(item)" alt="" src="../images/shelves/{{item.file}}" >
						</li>
					</ul>
					<img class="nav right" alt="" src="../images/right-arrows1.gif">-->
					<flex-slider class="items-menu step5" slide="item in items track by item.id" animation="slide" animation-loop="false" item-margin="12" item-width="160" >
						<li style="margin: 7px;">
							<img ng-click="selectItem(item)" alt="" src="../images/shelves/{{item.file}}" >
						</li>
					</flex-slider>
				</div>

			</div>
		</div>
<div ng-include="footerTemplate" ng-init="navigation=navigation"></div>
