<div ng-include="headerTemplate"></div>
		<div class="section-outer ">
			<div class="section-inner section-middle centerize">

				<h2>Wybierz uchwyt.</h2>

				<div class="step-nav clearfix">
					<a href="#{{navigation.prevStep}}">
						<img class="nav left" alt="" src="../images/left-orange1.gif" >
					</a>
					<a href="#{{navigation.nextStep}}">
						<img class="nav right" alt="" src="../images/right-orange1.gif" >
					</a>
					<div class="selected-items">
						<div class="fronts">
							<img alt="" src="../images/step3/{{selectedItem.color}}/{{selectedItem.item.file2}}" >
							<div ng-repeat="front in fronts" class="front {{front.selectedClass}}" ng-style="front.styles"></div>
							<div ng-repeat="shelve in shelves" class="shelve no-borders" ng-style="shelve.styles"></div>
							<div ng-repeat="handle in handles" class="handle selectable" ng-class="(handle.selected==true) ? 'selected' : ''" ng-click="selectHandle(handle)" ng-style="handle.styles"></div>
						</div>
					</div>
				</div>

				<div class="items-menu-div">
					<flex-slider class="items-menu step4" slide="item in items track by item.id" animation="slide" animation-loop="false" item-margin="12" item-width="62" >
						<li>
							<span class="texture-block">
								<img ng-click="selectItem(item)" alt="" src="../images/handles/{{item.file}}" >
								<span class="texture-name">{{item.name}}</span>
							</span>
						</li>
					</flex-slider>
				</div>

			</div>
		</div>
<div ng-include="footerTemplate" ng-init="navigation=navigation"></div>

