<h2>Twoja konfiguracja. Wybierz układ frontów.</h2>

<div class="step-nav clearfix">
	<a href="#{{prevStep}}">
		<img class="nav left" alt="" src="../images/left-orange1.gif" >
	</a>
	<div class="selected-items">
		<div class="fronts">
			<img alt="" src="../images/step3/{{selectedFile2}}" >
			<div ng-repeat="front in fronts" class="front {{front.selectedClass}}" ng-click="selectFront(front)" style="left: {{front.x}}px; top: {{front.y}}px; width: {{front.w}}px; height: {{front.h}}px; {{front.background}}"></div>

		</div>
	</div>

	<a href="#{{nextStep}}">
		<img class="nav right" alt="" src="../images/right-orange1.gif" >
	</a>
</div>

<div class="items-menu-div">
	<img class="nav left" alt="" src="../images/left-arrows1.gif" >
	<ul class="items-menu">
		<li ng-repeat="item in items">
			<img ng-click="selectItem(item)" alt="" src="../images/step3/{{item.file2}}" >
		</li>
	</ul>
	<img class="nav right" alt="" src="../images/right-arrows1.gif">
</div>